<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<html>
    <h1 class="portal-header">Welcome to the FTP Ventures LLC web portal, <%= current_user.first_name %>.</h1>
    <br>

    <div class="main-section">
        <div class="side-nav">
            <a href="/tasks"><li class="side-nav-bar">Task list</li></a>
            <a href="/houses"><li class="side-nav-bar">House Watchlist</li></a>
            <a href="/transactions"><li class="side-nav-bar">Transactions</li></a>
            <a href="/links"><li class="side-nav-bar">Important Links</li></a>
            <a href="/calendar"><li class="side-nav-bar">Upcoming Events</li></a>
            <a href="/amortization"><li class="side-nav-bar">Amortization Schedule</li></a>
        </div>    

        <div class="overview">
            <div class="top-overview">
                <div class="balance"> $<%= @value %> </div>
                <div class="overview-info">
                    <div class="total_balance">Total Investments: $<%= @total_value %></div>
                    <div class="stake">Stake Percentage: <%= ((@value / @total_value) * 100).round(2) %>%</div>
                </div>
            </div>
            <div class="graph"><%= line_chart @snaps.pluck(:created_at, :value), height: "40vh"%></div>
        </div> 
    </div>   
</html>    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var portfolio_value = <%= @value %>

    <% if @last.value != @value %>
        snapshot();
    <% end %>    


    function snapshot(){

        const settings = {
            "crossDomain": false,
            "contentType": 'application/json',
            "dataType": 'json',
            "url": '/snapshots',
            "method": "POST",
            "data": JSON.stringify({ "snapshots": {
                "user_id": <%= current_user.id %>,
                "value": portfolio_value
            }}),
            "beforeSend": function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}
        };

        $.ajax(settings).done(function (response) {

        });
    }
</script>