<!DOCTYPE html>
<html>
  <head>
    <title>FTP portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-static-top">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <span class="nav-item">
        <a class="nav-link" href="/about-us">About Us<span class="sr-only">(current)</span></a>
      </span>
      <span class="nav-item">
        <a class="nav-link" href="#">Members</a>
      </span>
      <span class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </span>
    </ul>
      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <span class="navbar-item">
            <a class="nav-link" href="/home">Member Home</a>
          </span>
        </ul>

        <ul class="navbar-nav ml-auto">
          <span class="navbar-item">
            <a class="nav-link active" href="#"><%= current_user.email %></a>
          </span>

        <span class="navbar-item">
          <a class="nav-link" href="/sign-out">Log Out</a>
        </span>
        </ul>
      <% else %>
      <ul class="navbar-nav ml-auto">
        <span class="navbar-item">
          <a class="nav-link" href="/portal">Login</a>
        </span>  
       </ul> 
      <% end %>  
      </ul>
    </ul>
  </div>
  </nav> 
  </header>

  <body>
    <%= yield %>
  </body>
</html>
