<!DOCTYPE html>
<html>
  <head>
    <title>FTP portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <div class="img-under">
      <img class="banner" src="/assets/banner.jpg">
  </div>
  <header>
  <nav class="navbar navbar-expand navbar-dark bg-dark navbar-static-top">
    <button type="button" data-toggle="collapse" data-target="#navbarNav1" aria-expanded="false" aria-controls="navbar" class="collapsed navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav" id="navbarNav1">
      <span class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </span>
      <span class="nav-item">
        <a class="nav-link" href="/about-us">About Us</a>
      </span>
      <span class="nav-item">
        <a class="nav-link" href="/members">Members</a>
      </span>
      <span class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </span>
      <% if user_signed_in? %>
        <span class="navbar-item" id="member-home-hide">
              <a class="nav-link" href="/home">Member Home</a>
        </span>
        <span class="navbar-item">
            <a class="nav-link active" href="#" id="member-home-hide">Logged in as: <%= current_user.first_name + ' ' + current_user.last_name %></a>
        </span>
        <span class="navbar-item" id="member-home-hide">
          <a class="nav-link" href="/sign-out" >Log Out</a>
        </span>
      <% else %>
        <span class="navbar-item" id="member-home-hide">
          <a class="nav-link" href="/portal">Login</a>
        </span> 
      <% end %>  
    </ul>
      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <span class="navbar-item">
            <a class="nav-link" href="/home" id="mobile-hide">Member Home</a>
          </span>
        </ul>

        <ul class="navbar-nav ml-auto">
          <span class="navbar-item">
            <a class="nav-link active" href="#" id="mobile-hide"><%= current_user.first_name + ' ' + current_user.last_name %></a>
          </span>

        <span class="navbar-item" id="mobile-hide">
          <a class="nav-link" href="/sign-out" >Log Out</a>
        </span>
        </ul>
      <% else %>
      <ul class="navbar-nav ml-auto" id="navbarNav2"> 
        <span class="navbar-item" id="mobile-hide">
          <a class="nav-link" href="/portal">Login</a>
        </span>  
       </ul> 
      <% end %>  
      </ul>
    </ul>
  </div>
  </nav> 
  </header>

  <body>
    <%= yield %>
  </body>
</html>
